{{/*
Copyright 2023 Team 254. All Rights Reserved.
Author: pat@patfairbank.com (Patrick Fairbank)

UI for greening field.
*/}}
{{define "title"}}Field Supervisor Panel{{end}}
{{define "body"}}
<div class="p-3 d-flex vh-100">
  <button class="btn btn-lg btn-success flex-grow-1" onclick="signalReset();">Signal Reset</div>
</div>
{{end}}
{{define "head"}}
<meta name="viewport" content="width=device-width, user-scalable=no">
{{end}}
{{define "script"}}
<script src="/static/js/field_supervisor_panel.js"></script>
{{end}}
