{{/*
Copyright 2014 Team 254. All Rights Reserved.
Author: pat@patfairbank.com (Patrick Fairbank)

UI for controlling match play and viewing team connection and field status.
*/}}
{{define "title"}}Match Play{{end}}
{{define "body"}}
<div class="row">
  <div class="col-lg-12">
    <div class="mb-3 fs-2 d-flex flex-row gap-3">
      <b id="matchName" data-bs-toggle="tooltip" title="Current match">&nbsp;</b>
      <span id="matchState" data-bs-toggle="tooltip" title="Match state">&nbsp;</span>
      <div class="flex-grow-1"></div>
      <b id="matchTime" data-bs-toggle="tooltip" title="Match timer (seconds)">&nbsp;</b>
    </div>
    <div class="d-flex flex-column flex-md-row flex-wrap gap-3 mb-4 justify-content-between">
      <div class="d-flex flex-row gap-3">
        <button type="button" id="startMatch" class="btn btn-success btn-lg btn-match-play" style="display: none;" onclick="startMatch();" disabled>
          Start
        </button>
        <button type="button" id="abortMatch" class="btn btn-danger btn-lg btn-match-play" onclick="abortMatch();">
          Abort
        </button>
        <button type="button" id="substituteTeams" class="btn btn-primary btn-lg btn-match-play" style="display: none;" onclick="substituteTeams();">
          Substitute
        </button>
      </div>
      
      <div class="d-flex flex-row flex-wrap gap-3">
        <div class="btn-group btn-pre-match">
          <button type="button" class="btn btn-secondary btn-lg btn-match-play dropdown-toggle" data-bs-toggle="dropdown">
            Load match
          </button>
          <ul class="dropdown-menu overflow-y-auto" id="matchListColumn" style="max-height: min(500px, calc(100vh - 200px))"></ul>
        </div>

        <button type="button" id="commitResults" class="btn btn-primary btn-lg btn-match-play btn-post-match" style="display: none;" onclick="confirmCommit();">
          Commit &amp; post
        </button>
        <a type="button" id="editResults" class="btn btn-secondary btn-lg btn-match-play btn-post-match" style="display: none;" href="/match_review/current/edit">
          Edit
        </a>
        <button type="button" id="discardResults" class="btn btn-danger btn-lg btn-match-play btn-post-match" style="display: none;" onclick="$('#confirmDiscardResults').modal('show');">
          Discard
        </button>
      </div>
    </div>
    <div class="d-flex flex-column flex-lg-row gap-3 mb-3">
      <div class="d-flex flex-column flex-grow-1 flex-basis-0">
        <div class="d-flex flex-row gap-2 justify-content-center">
          <h6 id="playoffBlueAllianceInfo">
            Blue alliance
          </h6>
          <h6 id="blueScore" class="badge bg-light-subtle" data-bs-toggle="tooltip" title="Blue score">&nbsp;</h6>
        </div>
        <div class="rounded p-3 bg-primary-subtle d-flex flex-column gap-2">
          {{template "matchPlayTeam" dict "color" "B" "position" 1}}
          {{template "matchPlayTeam" dict "color" "B" "position" 2}}
          {{template "matchPlayTeam" dict "color" "B" "position" 3}}
        </div>
      </div>
      <div class="d-flex flex-column flex-grow-1 flex-basis-0">
        <div class="d-flex flex-row gap-2 justify-content-center">
          <h6 id="playoffRedAllianceInfo">
            Red alliance
          </h6>
          <h6 id="redScore" class="badge bg-light-subtle" data-bs-toggle="tooltip" title="Red score">&nbsp;</h6>
        </div>
        <div class="rounded p-3 bg-danger-subtle d-flex flex-column gap-2">
          {{template "matchPlayTeam" dict "color" "R" "position" 3}}
          {{template "matchPlayTeam" dict "color" "R" "position" 2}}
          {{template "matchPlayTeam" dict "color" "R" "position" 1}}
        </div>
      </div>
    </div>
    <div class="mb-3">
      <div class="row">
        <div class="col-6 col-md-4 col-lg-3">
          <h6>Audience display</h6>
          {{template "audience_display_radio_buttons"}}
          <div class="form-check mt-2 mb-3 mx-3">
            <input type="checkbox" id="muteMatchSounds" class="form-check-input">
            <label class="form-check-label" for="muteMatchSounds">
              Mute match sounds
            </label>
          </div>
        </div>
        <div class="col-6 col-md-4 col-lg-3">
          <h6>Team signs</h6>
          <div class="list-group">
            <button type="button" class="list-group-item list-group-item-action alliance-station-display-button" onclick="setAllianceStationDisplay('match');" id="alliance-station-match">Match</button>
            <button type="button" class="list-group-item list-group-item-action alliance-station-display-button" onclick="setAllianceStationDisplay('fieldReset');" id="alliance-station-fieldReset">Green</button>
            <button type="button" class="list-group-item list-group-item-action alliance-station-display-button" onclick="setAllianceStationDisplay('signalCount');" id="alliance-station-signalCount">Purple</button>
            <button type="button" class="list-group-item list-group-item-action alliance-station-display-button" onclick="setAllianceStationDisplay('timeout');" id="alliance-station-timeout">Timeout</button>
            <button type="button" class="list-group-item list-group-item-action alliance-station-display-button" onclick="setAllianceStationDisplay('logo');" id="alliance-station-logo">Awards</button>
            <button type="button" class="list-group-item list-group-item-action alliance-station-display-button" onclick="setAllianceStationDisplay('blank');" id="alliance-station-blank">Blank</button>
          </div>
        </div>
        <div class="col-md-4 col-lg-6">
          <h6>Field status</h6>
          <p>
            <span id="cycleTimeMessage"></span><br />
            <span id="earlyLateMessage"></span>
          </p>
          <h6>Scoring</h6>
          <p>
            <span class="badge badge-scoring" id="redNearScoreStatus"></span>
            <span class="badge badge-scoring" id="redFarScoreStatus"></span>
            <span class="badge badge-scoring" id="blueNearScoreStatus"></span>
            <span class="badge badge-scoring" id="blueFarScoreStatus"></span>
          </p>

          {{if .EventSettings.NetworkSecurityEnabled}}
          <h6>Network Status</h6>
          <p>
            <span class="badge badge-status" id="accessPointStatus">Access Point</span>
            <span class="badge badge-status" id="switchStatus">Switch</span>
            {{if .EventSettings.SCCManagementEnabled}}
            <span class="badge badge-status" id="redSCCStatus">Red SCC</span>
            <span class="badge badge-status" id="blueSCCStatus">Blue SCC</span>
            {{end}}
          </p>
          {{end}}
          {{if .PlcIsEnabled}}
          <h6>PLC Status</h6>
          <p>
            <span class="badge badge-status" id="plcStatus"></span>
            <span class="badge badge-status" id="fieldEStop">E-Stop</span>
            {{range $name, $status := .PlcArmorBlockStatuses}}
            <span class="badge badge-status" id="plc{{$name}}Status">{{$name}}</span>
            {{end}}
          </p>
          {{end}}

          <div class="mb-3 btn-pre-match" style="display: none;">
            <label class="form-label h6" for="breakDuration">Break</label>
            <div class="input-group" style="max-width: 250px;">
              <input type="text" class="form-control" id="breakDuration" value="6:00" />
              <button class="btn btn-outline-secondary" onclick="startTimeout($('#breakDuration').val());" type="button">Start</button>
            </div>
          </div>

          <div id="testMatchSettings" class="mb-3" style="display: none;">
            <label class="form-label h6" for="testMatchName">Match name</label>
            <input type="text" class="form-control" id="testMatchName" onblur="setTestMatchName();" style="max-width: 250px;"/>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div id="confirmCommitResults" class="modal" style="top: 20%;">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Confirm</h4>
        <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
      </div>
      <div class="modal-body">
        <p id="confirmCommitReplay">This is a replay. Are you sure you want to overwrite the previous results?</p>
        <p id="confirmCommitNotReady">Not all scoring sources are ready yet. Are you sure you want to
          commit the results?</p>
      </div>
      <div class="modal-footer">
        <form class="form-horizontal" action="/setup/teams/clear" method="POST">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
          <button type="button" class="btn btn-danger" onclick="commitResults();" data-bs-dismiss="modal">
            Commit Results
          </button>
        </form>
      </div>
    </div>
  </div>
</div>
<div id="confirmDiscardResults" class="modal" style="top: 20%;">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Confirm</h4>
        <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
      </div>
      <div class="modal-body">
        <p>Are you sure you want to discard the results for this match?</p>
      </div>
      <div class="modal-footer">
        <form class="form-horizontal" action="/setup/teams/clear" method="POST">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
          <button type="button" class="btn btn-danger" onclick="discardResults();" data-bs-dismiss="modal">
            Discard Results
          </button>
        </form>
      </div>
    </div>
  </div>
</div>
{{end}}
{{define "script"}}
<script src="/static/js/match_timing.js"></script>
<script src="/static/js/match_play.js"></script>
{{end}}
{{define "matchPlayTeam"}}
<div class="d-flex flex-row gap-2 align-items-center" id="status{{.color}}{{.position}}">
  <div class="fs-2 fw-bold">{{.position}}</div>
  <div class="flex-shrink-0" style="width: 100px;">
    <input type="number" class="form-control fw-bold team-number bg-transparent" onchange="$('#substituteTeams').show();" tabindex="{{if eq .color "R"}}{{add .position 3}}{{else}}{{.position}}{{end}}">
  </div>
  <div class="bypass-status d-flex align-items-center flex-shrink-0" style="width: 100px;">
    <input type="checkbox" class="btn-check status-input" id="disable{{.color}}{{.position}}" onchange="toggleBypass('{{.color}}{{.position}}');" tabindex="-1">
    <label class="btn btn-outline-danger status-text w-100" for="disable{{.color}}{{.position}}">Disable</label><br>
  </div>
  <div class="d-flex flex-row gap-2 align-items-center flex-grow-1 bg-body-tertiary rounded px-2 overflow-hidden border status-container" style="height: 38px;">
    <div class="d-flex flex-row gap-2 align-items-center ds-status flex-grow-1 flex-basis-0">
      <i class="bi-laptop status-icon fs-4" data-bs-toggle="tooltip" title="Driver station status"></i>
      <div class="status-text text-body-secondary d-none d-sm-block d-lg-none d-xl-block" data-bs-toggle="tooltip" title="Bandwidth consumed"></div>
    </div>
    <div class="d-flex flex-row gap-2 align-items-center radio-status flex-grow-1 flex-basis-0">
      <i class="bi bi-wifi status-icon fs-4" data-bs-toggle="tooltip" title="Radio status"></i>
      <div class="status-text text-body-secondary d-none d-sm-block d-lg-none d-xl-block" data-bs-toggle="tooltip" title="AP SSID"></div>
    </div>
    <div class="d-flex flex-row gap-2 align-items-center robot-status flex-grow-1 flex-basis-0">
      <i class="bi bi-robot status-icon fs-4" data-bs-toggle="tooltip" title="Robot status"></i>
      <div class="status-text text-body-secondary d-none d-sm-block d-lg-none d-xl-block" data-bs-toggle="tooltip" title="Battery / Time Since Link Lost"></div>
    </div>
  </div>
</div>
{{end}}
