{{if .RepostScores}}
<li><h6 class="dropdown-header">Repost scores</h6></li>
{{range $type, $matches := .MatchesByType}}
{{range $match := $matches}}
{{if $match.Status}}
<li><button class="dropdown-item" onclick="showResult({{$match.Id}});">{{$match.LongName}}</button></li>
{{end}}
{{end}}
{{end}}
{{else}}
<li><button class="dropdown-item" onclick="loadMatch(0);">Test match</button></li>
{{range $type, $matches := .MatchesByType}}
<li><hr class="dropdown-divider"></li>
{{range $match := $matches}}
<li><button class="dropdown-item {{if $match.Status}}text-body-secondary{{end}}" onclick="loadMatch({{$match.Id}});">{{$match.LongName}} {{if $match.Status}}<i class="bi-check"></i>{{end}}</button></li>
{{end}}
{{end}}
{{end}}
